/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #container{
    width: 100%; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#333; 
    padding: 0px 50px; 
}
#main_reg {
    width: 50%;
    margin: auto;
    display: block; 
    padding: 10px;  
}
.reg {
    width: 275px;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
    margin: 25px auto;
    align-self: auto;
    border: 2px solid #ccc;
    border-radius: 1px;
}
h1 {
    font-size: 48px;
    color: #333;
    text-align: center;
}
.input {
    border:1px solid #ccc;
    border-radius: 2px;
    margin: 0px 0px 6px 0px;
    width: 250px;
    height: 20px;
    padding: 5px; 
}
.sel {
    border:1px solid #ccc;
    border-radius: 2px;
    margin: 0px 0px 8px 0px;
    width: 260px;
    height: 30px;
    padding: 5px; 
}
.categ {
    line-height: 0.1em;
    font-size: 13px;
} 
.warning {
    font-size: 12px;
    color: #3d8a47;
    line-height: 0.1em;
}
.err {
    font-size: 12px;
    line-height: 1.1 em;
    color: #8a3d47
}
.submit_btn {
    border:1px solid #8a3db0;;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    padding: 5px; 
    background: #8a3d80;;
    color: #fff;
    font-size: 15px;
}
.logout_btn {
    border:1px solid #5a3d8a;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    padding: 5px; 
    background: #5a3d8a;
    font-size: 15px;
    color: #fff;
    margin: 10px 0px 0px 70%;
    display: inline-block;
}